body {
    text-align: center;
}

#twitter.png {
    height: 50px;
    width: 50px;
    }

.myNavbar {
    color:darkgrey;
    background-color: dimgrey;
    width: auto;
}

.icon-bar {
    color: aqua;
}

.column {
    float: left;
    width: 33.33%;
     padding: 5px;
}

#img {
    width:700px;
    height:700px;
}

.row {
    text-align: center;
}


#contact {
    padding-top: 100px;
}

#img {
    width: 100px;
    height: 100px;
}

    #navigation-bar {
    color: darkgrey;
    position: sticky;
    top: 0;
    z-index: 99999
    }